
body {
  width: 100%; 
  margin: 0 auto; 
  background-color:rgba(199, 192, 192, 0.842);
}

header {
  width: 100%;
  background-color:white;
}

header h1{
  align-content: center;
}

footer {
  width: 100%;
}

ul {
  padding: 0px;
  text-align: center;
}

li {
  display: inline;
}

.main {
  width: 900px;
  max-width: 900p;
  margin: 0 auto;

}

.socials ul {
  align-content: center
}

